@font-face {
  font-family: 'source_sans_prolight';
  src: url('../../fonts/Source_Sans_Pro/sourcesanspro-light-webfont.woff2') format('woff2'), url('../../fonts/Source_Sans_Pro/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('../../fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff2') format('woff2'), url('../../fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../../fonts/Source_Sans_Pro/sourcesanspro-semibold-webfont.woff2') format('woff2'), url('../../fonts/Source_Sans_Pro/sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}