$text           : #333333;
$subText        : #4f4f4f;

$actionBtn      : #716B67;
$signupBtn      : #56CCF2;

$activeNav      : #716B67;
$inactiveNav    : #BDBDBD;

$activeTab      : #1274E0;
$inactiveTab    : #828282;

$label          : #828282;
$paragraph      : #828282;

$white          : #ffffff;


// $SourceSansPro  : 'SourceSansPro';


$mainHeadingFontColor :#6D6E72;
$baseColor: #96bb3d;
$baseFontColor: #6d6e71;
$tabInputColor: #c7c8ca;
$SourceSansPro-SemiBold : "source_sans_proregular";
$SourceSansPro-Regular: "source_sans_proregular";
$baseSourceSansRegularFont: 'source_sans_proregular';
$baseSourceSansproSemiBold: 'source_sans_prosemibold';
$basevalidationErrorColor: #ff0000;
$mainbackground-color:#FAFAFA;